@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADFE8;
}

.pokedex{
    display: flex;
    gap: 30px;
    padding: 30px 0px;

}