@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/039/196/975/large/labuu-20210630xx.jpg?1625206703');
    background-size: cover;
    background-attachment: fixed;
}

main {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

picture img {
    width: 400px;
    display: flex;
    right: 0;
    left: 0;
    margin: 30px auto;
}

.pokedex {
    display: flex;
    gap: 30px;
    padding: 30px 0px;
}